body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    text-align: center;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

input {
    width: 250px;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #16a34a;
}
