table {
    border-collapse: collapse;
    margin: 5px;
}

td {
    border: 1px solid #373131;
    padding: 5px 10px;
    text-align: center;
}
.container{
    border: 1px solid #cf1b1b;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}