body {
    font-family: Arial;
    background: #eef2f7;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    background: white;
    border-radius: 8px;
}

h2 {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #48ff00;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #000000;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}