body {
    background: #eeeeee;
}
button {
    border: #fff solid 1px;
    font-synthesis-weight: auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
